

*{
        font-family:Nunito;
        font-weight: 300;
        font-style: normal;
        color: grey;

      }

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color:#f6f6f6;
    position: sticky;
    top: 0;
    z-index: 200;
    
}
.div-2{
    display: flex;
    gap: 30px;
    margin-right: 70px;
    align-items: center;
    flex-wrap: wrap;
   
}
.div-1{
    margin-left: 70px;
}
.elements{
  font-size: 17px;

}
.teacher-container{
    display: flex;
    justify-content: space-around;

}
.abt-thr{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
}
.about-teacher{
    width: 250px;
    text-align: center;
}
.read-more-btn{
    color: #0984e3;
}
.read-more-text{
    display: none;
}
.teacher-img img{
    border-radius: 10px;
}
.elements a:hover{
    cursor: pointer;
    color: #ff9100;
}

.button:hover{
    background-color: #ff9100;
    color: white;
    cursor:pointer;
}
.cfc-heading{
  display: flex;
  gap:30px;  
 
  width: 50%;
  margin: auto;
  padding-left: 250px;
}
.cfc-topic{
    font-size: 20px;
    font-weight: bold;
}
.heading-cfc{
    font-weight: bold;
    color: #b79d74;
}
.cfc{
    background-color: white;
    width: 90%;
    margin: 30px;
}

.button{
appearance: none;
width: 500px;
background-color: white;
border-radius: 100px;
height: 200px;
border: none;
font-size: 17px;
color: orangered;
font-weight: 300;
text-decoration: none;
padding:10px;
padding-left: 20px;
padding-right: 20px;
}

.comp-2{
    display: flex;
    justify-content: space-around;
    background-color:#f6f6f6;
    z-index: 99;
    flex-wrap: wrap;
}

.video1{
    border-radius: 30px;
    z-index: 99;
}
.heading-bug1{
    color: #b79d74;
    font-weight: bold;
}
.head-1{
    font-weight: bold;
    font-size: 50px;
    color: #ff9100;
    margin-bottom: 0px;
}
.head-3{
    font-weight: bold;
  
}
.cons-button{
    width: 250px;
    border-style: none;
    background-color: #ff9100;
    height: 50px;
    color:white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 100px;
}
.cons-btn-text{
    font-size: 14px;
    margin-left: 10px;
}
.heading-wcu{
    font-size: 40px;
    color: #b79d74;
    font-weight:bold;
}
.comp-3{

background-color:#f6f6f6;
width:70%;
padding-top: 50px;


}
.bug-image{
    display: flex;
    flex-wrap: wrap;
    
}
.elements-2{
    width: 200px;
    background-color: white;
    height: 200px;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.elements-2 img{
    width: 50px;
}
.tick{
    display: flex;
    align-items: center;
}
.sidebar {
    position: sticky;
    top:30px;
}
.tick div img{
width: 20px;
}
.cont{
    gap: 5px;
    margin-left: 15px;
}
.cont img{
    width: 20px;
}
.esp{
    width: 350px;
    background-color: white;
}
.student-details{
    width: 60%;
    border: 1px solid grey;
    margin: auto;
    margin-top: 10px
}

.p-n{
    padding-top: 9px ;
    display: flex;
    gap: 20px;
    width: 60%;
    margin: auto;
    align-items: center;
}
.p-n div h3{
    color:rgb(28, 13, 78);
    font-weight: bold;
}
.student-img{
    border-radius: 500px;
}

.sidebar-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 900vh;
    position: left;
    background-color: #f6f6f6;
    flex-wrap: wrap;
   
}
@media (max-width:600px) {
    .elements{
        display: none;
    }
    .nav-bar{
        background-color: white;
        flex-direction: column;
    }
    .div22 .video1{
       width: 40vh; 
       border-radius: 0%;
    }
    .sidebar{
        display: none;
    }
    .elements-2{
        width: 100%;
    }
    .flex-1{
        width: 100%;
    }
    .sidebar-container{
        width: 100%;
    }
   .comp-3{
    width: 100%;
   }
    .abt-thr
    {
        flex-wrap: wrap;
    }
    .teacher-container{
        flex-direction: column;
    }
    .ashu{
        display: flex;
    }
}
.bug-image img{
    width: 400px; 
    transition: width 0.5s ease; 
}

.bug-image div:hover img{
    width: 450px;
  
}
.sidebar {
    top: 0;
    right: 0;
    max-height: 100vh;
    width: 30%;
}
.flex-1{
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.Wcu{
    background-color: white;
    width: 95%;
  margin: auto;
}
.wcu1{
    display: flex;
    width: 95%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    flex-wrap: wrap;
}
.bug-1{
    width: 70%;
    margin-left: 30px;
    
}
.bug1{
    text-align: center;
    padding-bottom: 30px;
    background-color:white;
    width: 95%;
    margin-left: 22px;
}
.days{
    display: flex;
   gap: 20px;
}
.bug-image{
    width: 70%;
    margin:auto;
}
.cfc-days-cont{
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 20px;
    margin-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.cfc-days{
    width: 200px;
    margin-left:20px ;
    text-align: center;
    border-radius: 20px;
    margin-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}